In [129]:
import pandas as pd
import numpy as np
import sys
from nba_api.stats.endpoints import AllTimeLeadersGrids

In [130]:
commonallplayers.CommonAllPlayers(is_only_current_season=1)

In [135]:
all_players = commonallplayers.CommonAllPlayers(is_only_current_season=0).get_data_frames()[0]

In [191]:
from nba_api.stats.endpoints import commonplayerinfo
commonplayerinfo.CommonPlayerInfo(player_id="203084").get_data_frames()[0]

   PERSON_ID FIRST_NAME LAST_NAME  ... DRAFT_ROUND DRAFT_NUMBER GREATEST_75_FLAG
0     203084   Harrison    Barnes  ...           1            7                N

[1 rows x 33 columns]

In [205]:
from nba_api.stats.endpoints import winprobabilitypbp
winprobabilitypbp.WinProbabilityPBP(game_id = "0022300827").get_data_frames()[0]

         GAME_ID  EVENT_NUM  HOME_PCT  ...  LOCATION  PCTIMESTRING  ISVISIBLE
0     0022300827        2.0   0.58808  ...                   12:00        1.0
1     0022300827        4.0   0.61352  ...         h         12:00        1.0
2     0022300827        NaN   0.61350  ...      None          None        NaN
3     0022300827        NaN   0.61348  ...      None          None        NaN
4     0022300827        NaN   0.61346  ...      None          None        NaN
...          ...        ...       ...  ...       ...           ...        ...
3011  0022300827        NaN       NaN  ...      None          None        NaN
3012  0022300827        NaN       NaN  ...      None          None        NaN
3013  0022300827        NaN       NaN  ...      None          None        NaN
3014  0022300827        NaN       NaN  ...      None          None        NaN
3015  0022300827      619.0       NaN  ...                    0:00        1.0

[3016 rows x 15 columns]

In [202]:
from nba_api.stats.endpoints import CumeStatsPlayerGames
CumeStatsPlayerGames(player_id="203084").get_data_frames()[0]

                              MATCHUP     GAME_ID
0        02/25/2024 Kings at Clippers  0022300827
1           02/22/2024 Spurs at Kings  0022300803
2         02/14/2024 Kings at Nuggets  0022300786
3            02/13/2024 Kings at Suns  0022300774
4         02/11/2024 Kings at Thunder  0022300760
5         02/09/2024 Nuggets at Kings  0022300746
6         02/07/2024 Pistons at Kings  0022300732
7       02/05/2024 Kings at Cavaliers  0022300714
8           02/03/2024 Kings at Bulls  0022300700
9          02/02/2024 Kings at Pacers  0022300691
10           01/31/2024 Kings at Heat  0022300678
11      01/29/2024 Kings at Grizzlies  0022300663
12      01/27/2024 Kings at Mavericks  0022300651
13       01/25/2024 Kings at Warriors  0022300632
14          01/22/2024 Hawks at Kings  0022300613
15         01/18/2024 Pacers at Kings  0022300583
16           01/16/2024 Kings at Suns  0022300567
17          01/14/2024 Kings at Bucks  0022300552
18          01/12/2024 Kings at 76ers  0022300532
19        01/10/2024 Kings at Hornets  0022300518
20        01/09/2024 Kings at Pistons  0022300512
21       01/07/2024 Pelicans at Kings  0022300500
22        01/05/2024 Raptors at Kings  0022300492
23          01/03/2024 Magic at Kings  0022300476
24        01/02/2024 Hornets at Kings  0022300464
25      12/31/2023 Kings at Grizzlies  0022300449
26          12/29/2023 Kings at Hawks  0022300431
27  12/26/2023 Kings at Trail Blazers  0022300413
28   12/23/2023 Timberwolves at Kings  0022300400
29           12/22/2023 Suns at Kings  0022300387
30        12/20/2023 Celtics at Kings  0022300373
31        12/18/2023 Wizards at Kings  0022300358
32           12/16/2023 Jazz at Kings  0022300342
33        12/14/2023 Thunder at Kings  0022300324
34       12/12/2023 Kings at Clippers  0022300309
35           12/11/2023 Nets at Kings  0022300303
36           12/08/2023 Kings at Suns  0022301228
37       12/04/2023 Pelicans at Kings  0022301204
38        12/02/2023 Nuggets at Kings  0022300290
39       11/29/2023 Clippers at Kings  0022300264
40       11/28/2023 Warriors at Kings  0022300060
41   11/24/2023 Kings at Timberwolves  0022300050
42       11/22/2023 Kings at Pelicans  0022300233
43       11/20/2023 Kings at Pelicans  0022300222
44      11/19/2023 Kings at Mavericks  0022300212
45          11/17/2023 Kings at Spurs  0022300032
46         11/15/2023 Kings at Lakers  0022300198
47      11/13/2023 Cavaliers at Kings  0022300191
48        11/10/2023 Thunder at Kings  0022300016
49  11/08/2023 Trail Blazers at Kings  0022300170
50        11/06/2023 Kings at Rockets  0022300153
51        11/04/2023 Kings at Rockets  0022300137
52       11/01/2023 Kings at Warriors  0022300126
53         10/29/2023 Lakers at Kings  0022300100
54       10/27/2023 Warriors at Kings  0022300087
55           10/25/2023 Kings at Jazz  0022300072

In [208]:
from nba_api.stats.endpoints import _base

In [215]:
from nba_api.stats.endpoints import CommonTeamRoster
# This is good
CommonTeamRoster(team_id="1610612758", season="2022-23").get_data_frames()[0]

        TeamID SEASON  ... PLAYER_ID                 HOW_ACQUIRED
0   1610612758   2022  ...   1628370           Signed on 07/06/22
1   1610612758   2022  ...   1629056                         None
2   1610612758   2022  ...   1628368        #5 Pick in 2017 Draft
3   1610612758   2022  ...   1629002                         None
4   1610612758   2022  ...    203521                         None
5   1610612758   2022  ...   1628989  Traded from ATL on 07/06/22
6   1610612758   2022  ...   1627734  Traded from IND on 02/08/22
7   1610612758   2022  ...   1631099        #4 Pick in 2022 Draft
8   1610612758   2022  ...   1630558        #9 Pick in 2021 Draft
9   1610612758   2022  ...   1630556  Traded from BKN on 02/07/23
10  1610612758   2022  ...   1626158                         None
11  1610612758   2022  ...   1631165           Signed on 07/02/22
12  1610612758   2022  ...    203458           Signed on 08/13/21
13  1610612758   2022  ...   1628408                         None
14  1610612758   2022  ...    203084  Traded from DAL on 02/07/19
15  1610612758   2022  ...   1626168  Traded from DET on 02/10/22
16  1610612758   2022  ...   1629674                         None

[17 rows x 16 columns]

In [139]:
all_players

      PERSON_ID  ... OTHERLEAGUE_EXPERIENCE_CH
0         76001  ...                        00
1         76002  ...                        00
2         76003  ...                        00
3            51  ...                        00
4          1505  ...                        00
...         ...  ...                       ...
4909    1627790  ...                        01
4910      78647  ...                        00
4911      78648  ...                        00
4912    1627826  ...                        01
4913      78650  ...                        00

[4914 rows x 16 columns]

In [186]:
import numpy as np
import pandas as pd

In [187]:
from nba_api.stats.endpoints import teamdetails, teamplayerdashboard, commonallplayers

def get_team_roster(team_id):
    # Get all players who have played for the team
    players_info = commonallplayers.CommonAllPlayers(is_only_current_season=1)
    players_info_data = players_info.get_data_frames()[0]
    
    # Filter players by team ID
    roster = players_info_data[players_info_data["TEAM_ID"] == team_id]
    
    return roster

def get_team_stats(team_id, season):
    # Get team stats for a specific season
    team_stats = teamplayerdashboard.TeamPlayerDashboard(team_id=team_id, season=season)
    team_stats_data = team_stats.get_data_frames()[0]
    
    # Extract team stats
    team_stats = team_stats_data
    
    return team_stats

In [188]:
from nba_api.stats.static import teams

def get_team_ids():
    # Retrieve all NBA teams
    nba_teams = teams.get_teams()
    
    team_ids = {}
    # Extract team IDs
    for team in nba_teams:
        team_ids[team["full_name"]] = team['id']
    
    return team_ids

In [189]:
get_team_ids()

{'Atlanta Hawks': 1610612737,
 'Boston Celtics': 1610612738,
 'Cleveland Cavaliers': 1610612739,
 'New Orleans Pelicans': 1610612740,
 'Chicago Bulls': 1610612741,
 'Dallas Mavericks': 1610612742,
 'Denver Nuggets': 1610612743,
 'Golden State Warriors': 1610612744,
 'Houston Rockets': 1610612745,
 'Los Angeles Clippers': 1610612746,
 'Los Angeles Lakers': 1610612747,
 'Miami Heat': 1610612748,
 'Milwaukee Bucks': 1610612749,
 'Minnesota Timberwolves': 1610612750,
 'Brooklyn Nets': 1610612751,
 'New York Knicks': 1610612752,
 'Orlando Magic': 1610612753,
 'Indiana Pacers': 1610612754,
 'Philadelphia 76ers': 1610612755,
 'Phoenix Suns': 1610612756,
 'Portland Trail Blazers': 1610612757,
 'Sacramento Kings': 1610612758,
 'San Antonio Spurs': 1610612759,
 'Oklahoma City Thunder': 1610612760,
 'Toronto Raptors': 1610612761,
 'Utah Jazz': 1610612762,
 'Memphis Grizzlies': 1610612763,
 'Washington Wizards': 1610612764,
 'Detroit Pistons': 1610612765,
 'Charlotte Hornets': 1610612766}

In [791]:
from datetime import datetime, timedelta
import time

In [307]:
def get_all_games(start_year = "2017-9-1", end_year = None, teams = "all"):
    start_year = datetime.strptime(start_year, "%Y-%m-%d")
    team_ids = get_team_ids()
    dfs = []
    if teams == "all":
        for team, team_id in team_ids.items():
            print(f"Attempting to collect {team}")
            gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id, timeout=60)
            games = gamefinder.get_data_frames()[0]
            games["GAME_DATE"] = games["GAME_DATE"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
            games = games[games["GAME_DATE"] >= start_year]
            dfs.append(games)
            print(f"Successfully collected {team}")
            time.sleep(2.5)
        return dfs
    else:
        team_id = team_ids[teams]
        gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
        games = gamefinder.get_data_frames()[0]
        games["GAME_DATE"] = games["GAME_DATE"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
        games = games[games["GAME_DATE"] >= start_year]
        return games

In [308]:
all_games = get_all_games(start_year = "2017-9-1")
all_games = pd.concat(all_games)
all_games

Attempting to collect Atlanta Hawks
Successfully collected Atlanta Hawks
Attempting to collect Boston Celtics
Successfully collected Boston Celtics
Attempting to collect Cleveland Cavaliers
Successfully collected Cleveland Cavaliers
Attempting to collect New Orleans Pelicans
Successfully collected New Orleans Pelicans
Attempting to collect Chicago Bulls
Successfully collected Chicago Bulls
Attempting to collect Dallas Mavericks
Successfully collected Dallas Mavericks
Attempting to collect Denver Nuggets
Successfully collected Denver Nuggets
Attempting to collect Golden State Warriors
Successfully collected Golden State Warriors
Attempting to collect Houston Rockets
Successfully collected Houston Rockets
Attempting to collect Los Angeles Clippers
Successfully collected Los Angeles Clippers
Attempting to collect Los Angeles Lakers
Successfully collected Los Angeles Lakers
Attempting to collect Miami Heat
Successfully collected Miami Heat
Attempting to collect Milwaukee Bucks
Successfully collected Milwaukee Bucks
Attempting to collect Minnesota Timberwolves
Successfully collected Minnesota Timberwolves
Attempting to collect Brooklyn Nets
Successfully collected Brooklyn Nets
Attempting to collect New York Knicks
Successfully collected New York Knicks
Attempting to collect Orlando Magic
Successfully collected Orlando Magic
Attempting to collect Indiana Pacers
Successfully collected Indiana Pacers
Attempting to collect Philadelphia 76ers
Successfully collected Philadelphia 76ers
Attempting to collect Phoenix Suns
Successfully collected Phoenix Suns
Attempting to collect Portland Trail Blazers
Successfully collected Portland Trail Blazers
Attempting to collect Sacramento Kings
Successfully collected Sacramento Kings
Attempting to collect San Antonio Spurs
Successfully collected San Antonio Spurs
Attempting to collect Oklahoma City Thunder
Successfully collected Oklahoma City Thunder
Attempting to collect Toronto Raptors
Successfully collected Toronto Raptors
Attempting to collect Utah Jazz
Successfully collected Utah Jazz
Attempting to collect Memphis Grizzlies
Successfully collected Memphis Grizzlies
Attempting to collect Washington Wizards
Successfully collected Washington Wizards
Attempting to collect Detroit Pistons
Successfully collected Detroit Pistons
Attempting to collect Charlotte Hornets
Successfully collected Charlotte Hornets

    SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0       22023  1610612737               ATL  ...  17  15       27.8
1       22023  1610612737               ATL  ...   9  17       17.0
2       22023  1610612737               ATL  ...   9  11       -2.0
3       22023  1610612737               ATL  ...  16  20      -23.0
4       22023  1610612737               ATL  ...  11  20      -10.0
..        ...         ...               ...  ...  ..  ..        ...
580     12017  1610612766               CHA  ...  21  21       15.0
581     12017  1610612766               CHA  ...  14  14       -8.0
582     12017  1610612766               CHA  ...  14  22       -3.0
583     12017  1610612766               CHA  ...  14  19        5.0
584     12017  1610612766               CHA  ...  19  17       -6.0

[18803 rows x 28 columns]

In [376]:
team_names = {
    'Atlanta Hawks': 'ATL',
    'Boston Celtics': 'BOS',
    'Cleveland Cavaliers': 'CLE',
    'New Orleans Pelicans': 'NOP',
    'Chicago Bulls': 'CHI',
    'Dallas Mavericks': 'DAL',
    'Denver Nuggets': 'DEN',
    'Golden State Warriors': 'GSW',
    'Houston Rockets': 'HOU',
    'LA Clippers': 'LAC',
    'Los Angeles Lakers': 'LAL',
    'Miami Heat': 'MIA',
    'Milwaukee Bucks': 'MIL',
    'Minnesota Timberwolves': 'MIN',
    'Brooklyn Nets': 'BKN',
    'New York Knicks': 'NYK',
    'Orlando Magic': 'ORL',
    'Indiana Pacers': 'IND',
    'Philadelphia 76ers': 'PHI',
    'Phoenix Suns': 'PHX',
    'Portland Trail Blazers': 'POR',
    'Sacramento Kings': 'SAC',
    'San Antonio Spurs': 'SAS',
    'Oklahoma City Thunder': 'OKC',
    'Toronto Raptors': 'TOR',
    'Utah Jazz': 'UTA',
    'Memphis Grizzlies': 'MEM',
    'Washington Wizards': 'WAS',
    'Detroit Pistons': 'DET',
    'Charlotte Hornets': 'CHA'
}

In [647]:
drop_games = pd.read_csv("DroppedGames.csv")
all_games_filtered_columns = all_games[["TEAM_NAME", "GAME_DATE", "MATCHUP", "WL", "PLUS_MINUS"]]
all_games_filtered_columns = all_games_filtered_columns.reset_index()
all_games_filtered_columns = all_games_filtered_columns.drop("index", axis = 1)
all_games_filtered_columns["TEAM_NAME"] = all_games_filtered_columns["TEAM_NAME"].apply(lambda x: team_names[x])
all_games_filtered_columns = all_games_filtered_columns[~all_games_filtered_columns["MATCHUP"].isin(drop_games)]
all_games_filtered_columnstered_columns = all_games_filtered_columns.drop(drop_games, axis = 0)
all_games_filtered_columns

      TEAM_NAME  GAME_DATE      MATCHUP WL  PLUS_MINUS
0           ATL 2024-02-27  ATL vs. UTA  W        27.8
1           ATL 2024-02-25  ATL vs. ORL  W        17.0
2           ATL 2024-02-23  ATL vs. TOR  L        -2.0
3           ATL 2024-02-14    ATL @ CHA  L       -23.0
4           ATL 2024-02-12  ATL vs. CHI  L       -10.0
...         ...        ...          ... ..         ...
18798       CHA 2017-10-13  CHA vs. DAL  W        15.0
18799       CHA 2017-10-11  CHA vs. BOS  L        -8.0
18800       CHA 2017-10-09    CHA @ MIA  L        -3.0
18801       CHA 2017-10-04    CHA @ DET  W         5.0
18802       CHA 2017-10-02    CHA @ BOS  L        -6.0

[18803 rows x 5 columns]

In [722]:
def fix_time(time):
    if 1 <= time.month <= 9:
        time = time + pd.DateOffset(years = 1)
    return time

In [723]:
betting_lines = pd.read_csv("ParsedBettingLines.csv")

betting_lines = betting_lines.drop("Unnamed: 0", axis = 1)

betting_lines["GAME_DATE"] = pd.to_datetime(betting_lines["GAME_DATE"], format='%Y-%m-%d', errors="coerce")

betting_lines = betting_lines.dropna()

betting_lines["GAME_DATE"] = betting_lines["GAME_DATE"].apply(lambda x: fix_time(x))

betting_lines

      TEAM_NAME  GAME_DATE      MATCHUP  ...  AWAY_SCORE  OVER/UNDER  SPREAD
0           BOS 2017-10-17    BOS @ CLE  ...         102       216.0    -4.5
1           CLE 2017-10-17  CLE vs. BOS  ...          99       216.0     4.5
2           HOU 2017-10-17    HOU @ GSW  ...         121       231.0    -9.5
3           GSW 2017-10-17  GSW vs. HOU  ...         122       231.0     9.5
4           CHA 2017-10-18    CHA @ DET  ...         102       202.0    -2.5
...         ...        ...          ...  ...         ...         ...     ...
16693       HOU 2024-02-25  HOU vs. OKC  ...         123       233.0    -6.5
16694       CHI 2024-02-25    CHI @ NOP  ...         106       224.5    -5.0
16695       NOP 2024-02-25  NOP vs. CHI  ...         114       224.5     5.0
16696       SAS 2024-02-25    SAS @ UTA  ...         128       239.5    -6.5
16697       UTA 2024-02-25  UTA vs. SAS  ...         109       239.5     6.5

[16682 rows x 7 columns]

In [681]:
all_games_filtered_columns

      TEAM_NAME  GAME_DATE      MATCHUP WL  PLUS_MINUS
0           ATL 2024-02-27  ATL vs. UTA  W        27.8
1           ATL 2024-02-25  ATL vs. ORL  W        17.0
2           ATL 2024-02-23  ATL vs. TOR  L        -2.0
3           ATL 2024-02-14    ATL @ CHA  L       -23.0
4           ATL 2024-02-12  ATL vs. CHI  L       -10.0
...         ...        ...          ... ..         ...
18798       CHA 2017-10-13  CHA vs. DAL  W        15.0
18799       CHA 2017-10-11  CHA vs. BOS  L        -8.0
18800       CHA 2017-10-09    CHA @ MIA  L        -3.0
18801       CHA 2017-10-04    CHA @ DET  W         5.0
18802       CHA 2017-10-02    CHA @ BOS  L        -6.0

[18803 rows x 5 columns]

In [724]:
betting_lines["GAME_DATE"] = pd.to_datetime(betting_lines["GAME_DATE"])
all_games_filtered_columns["GAME_DATE"] = pd.to_datetime(all_games_filtered_columns["GAME_DATE"])

merged_data = pd.merge(betting_lines, all_games_filtered_columns, on = ["TEAM_NAME", "GAME_DATE", "MATCHUP"], how="inner")
merged_data

      TEAM_NAME  GAME_DATE      MATCHUP  ...  SPREAD  WL  PLUS_MINUS
0           BOS 2017-10-17    BOS @ CLE  ...    -4.5   L        -3.0
1           CLE 2017-10-17  CLE vs. BOS  ...     4.5   W         3.0
2           HOU 2017-10-17    HOU @ GSW  ...    -9.5   W         1.0
3           GSW 2017-10-17  GSW vs. HOU  ...     9.5   L        -1.0
4           CHA 2017-10-18    CHA @ DET  ...    -2.5   L       -12.0
...         ...        ...          ...  ...     ...  ..         ...
16667       HOU 2024-02-25  HOU vs. OKC  ...    -6.5   L       -13.0
16668       CHI 2024-02-25    CHI @ NOP  ...    -5.0   W         8.0
16669       NOP 2024-02-25  NOP vs. CHI  ...     5.0   L        -8.0
16670       SAS 2024-02-25    SAS @ UTA  ...    -6.5   L       -19.0
16671       UTA 2024-02-25  UTA vs. SAS  ...     6.5   W        19.0

[16672 rows x 9 columns]

In [431]:
player_birthdays = pd.read_csv("NBA_DOB_InSeason.csv")
player_birthdays["Birthdate"] = player_birthdays["Birthdate"].apply(lambda x: datetime.strptime(x, "%m/%d/%Y"))
filtered_player_birthdays = player_birthdays[player_birthdays["Birthdate"] > datetime(1984, 12, 1)]
filtered_player_birthdays.head()

             Name  Birthdate       id
10      Deng Adel 1997-02-01  1629061
11    Jeff Adrien 1986-02-10   202399
15   Josh Akognon 1986-02-10   203006
16  Solomon Alabi 1988-03-21   202374
18   Santi Aldama 2001-01-10  1630583

In [438]:
from nba_api.stats.endpoints import commonplayerinfo

player_info = commonplayerinfo.CommonPlayerInfo(player_id = "1630583")
player_teams = player_info.get_data_frames()[0]

player_teams

   PERSON_ID FIRST_NAME LAST_NAME  ... DRAFT_ROUND DRAFT_NUMBER GREATEST_75_FLAG
0    1630583      Santi    Aldama  ...           1           30                N

[1 rows x 33 columns]

In [733]:
player_info = commonplayerinfo.CommonPlayerInfo(player_id = "1630583", timeout=60).get_data_frames()[0]
if player_info["FROM_YEAR"] in []

   PERSON_ID FIRST_NAME LAST_NAME  ... DRAFT_ROUND DRAFT_NUMBER GREATEST_75_FLAG
0    1630583      Santi    Aldama  ...           1           30                N

[1 rows x 33 columns]

In [747]:
active_player_birthdays = []
count = 0
for player_id in filtered_player_birthdays["id"]:
    count += 1
    if count % 100 == 0:
        print("Starting Sleep")
        time.sleep(300)
    player_info = commonplayerinfo.CommonPlayerInfo(player_id = player_id, timeout=60).get_data_frames()[0]
    time.sleep(1)
    try:
        if (2017 <= player_info["FROM_YEAR"][0] <= 2024) or (2017 <= player_info["TO_YEAR"][0] <= 2024):
            print(f"Collected {player_info['DISPLAY_FIRST_LAST'][0]}")
            active_player_birthdays.append((player_info["DISPLAY_FIRST_LAST"][0], player_info["TEAM_ABBREVIATION"][0], player_info["BIRTHDATE"][0].split("T")[0], player_info["FROM_YEAR"][0], player_info["TO_YEAR"][0]))
    except TypeError:
        continue

Collected Deng Adel
Collected Santi Aldama
Collected Cole Aldrich
Collected Rawle Alkins
Collected Kadeem Allen
Collected Jose Alvarado
Collected Justin Anderson
Collected Giannis Antetokounmpo
Collected Kostas Antetokounmpo
Collected Ryan Arcidiacono
Collected Darrell Arthur
Collected Jamel Artis
Collected D.J. Augustin
Collected Deni Avdija
Collected Joel Ayayi
Collected Marvin Bagley III
Collected Amari Bailey
Collected Ron Baker
Collected Wade Baldwin IV
Collected Patrick Baldwin Jr.
Collected Lonzo Ball
Collected Paolo Banchero
Collected Dalano Banton
Collected Will Barton
Collected Charles Bassey
Collected Emoni Bates
Collected Keita Bates-Diop
Collected Nicolas Batum
Collected Aron Baynes
Collected Malik Beasley
Collected Michael Beasley
Collected Marco Belinelli
Collected Jordan Bell
Collected Dragan Bender
Collected Davis Bertans
Collected Saddiq Bey
Collected Tyler Bey
Collected Onuralp Bitim
Collected Anthony Black
Collected Tarik Black
Collected Eric Bledsoe
Collected Keljin Blevins
Collected Trevon Bluiett
Collected Buddy Boeheim
Collected Bol Bol
Collected Jonah Bolden
Collected Joel Bolomboy
Collected Jordan Bone
Collected Isaac Bonga
Collected Devin Booker
Collected Trevor Booker
Collected Brandon Boston Jr.
Collected Chris Boucher
Collected Avery Bradley
Collected Tony Bradley
Collected Ignas Brazdeikis
Collected Corey Brewer
Collected Miles Bridges
Collected Amida Brimah
Collected Isaiah Briscoe
Collected Malcolm Brogdon
Collected Aaron Brooks
Collected Dillon Brooks
Collected MarShon Brooks
Collected Kobe Brown
Collected Markel Brown
Collected Sterling Brown
Collected Charlie Brown Jr.
Collected Chaundee Brown Jr.
Collected Nicolas Brussino
Collected Shaq Buchanan
Collected Reggie Bullock Jr.
Collected Trey Burke
Collected Deonte Burton
Starting Sleep
Collected John Butler Jr.
Collected Dwight Buycks
Collected Jamal Cain
Collected Kentavious Caldwell-Pope
Collected Facundo Campazzo
Collected Vlatko Cancar
Collected Vernon Carey Jr.
Collected Alex Caruso
Collected Troy Caupain
Collected Tyler Cavanaugh
Collected Joe Chealey
Collected Zylan Cheatham
Collected Chris Chiozza
Collected Max Christie
Collected Josh Christopher
Collected Sidy Cissoko
Collected Gary Clark
Collected Ian Clark
Collected Gian Clavell
Collected Antonius Cleveland
Collected Zach Collins
Collected Bonzie Colson
Collected Pat Connaughton
Collected Quinn Cook
Collected Jack Cooley
Collected Robert Covington
Collected Allen Crabbe
Collected Torrey Craig
Collected Jarrett Culver
Collected Stephen Curry
Collected Dyson Daniels
Collected Anthony Davis
Collected Deyonta Davis
Collected Javin DeLaurier
Collected Gabriel Deck
Collected Malcolm Delaney
Collected Angel Delgado
Collected Dexter Dennis
Collected Marcus Derrickson
Collected Donte DiVincenzo
Collected Moussa Diabate
Collected Mamadi Diakite
Collected Gradey Dick
Collected Gorgui Dieng
Collected Spencer Dinwiddie
Collected Luka Doncic
Collected Tyler Dorsey
Collected Ayo Dosunmu
Collected Sekou Doumbouya
Collected Milton Doyle
Collected PJ Dozier
Collected Larry Drew II
Collected Kris Dunn
Collected Jalen Duren
Collected Jarell Eddie
Collected Carsen Edwards
Collected Rob Edwards
Collected Vincent Edwards
Collected Henry Ellenson
Collected Wayne Ellington
Collected Keon Ellis
Collected Joel Embiid
Collected Drew Eubanks
Collected Tacko Fall
Collected Kenneth Faried
Collected Kay Felder
Collected Simone Fontecchio
Collected Aleem Ford
Collected Michael Foster Jr.
Collected Evan Fournier
Collected De'Aaron Fox
Collected Robert Franks
Collected Tim Frazier
Starting Sleep
Collected Michael Frazier II
Collected Jimmer Fredette
Collected Wenyen Gabriel
Collected Langston Galloway
Collected Darius Garland
Collected Marcus Garrett
Collected Usman Garuba
Collected Luka Garza
Collected Marc Gasol
Collected Kaiser Gates
Collected Keyonte George
Collected Marcus Georges-Hunt
Collected Jonathan Gibson
Collected Eric Gordon
Collected Devonte' Graham
Collected Treveon Graham
Collected Jerami Grant
Collected Donte Grantham
Collected Draymond Green
Collected Gerald Green
Collected Jalen Green
Collected Josh Green
Collected Blake Griffin
Collected Marko Guduric
Collected Mouhamed Gueye
Collected Rui Hachimura
Collected Tyrese Haliburton
Collected Jordan Hall
Collected Tyler Hall
Collected R.J. Hampton
Collected Tyler Hansbrough
Collected Tim Hardaway Jr.
Collected Ron Harper Jr.
Collected Montrezl Harrell
Collected Aaron Harrison
Collected Andrew Harrison
Collected Josh Hart
Collected Sam Hauser
Collected Nigel Hayes
Collected Gordon Hayward
Collected Scoot Henderson
Collected Taylor Hendricks
Collected Myke Henry
Collected John Henson
Collected Dewan Hernandez
Collected Tyler Herro
Collected Mario Hezonja
Collected Buddy Hield
Collected Haywood Highsmith
Collected Malcolm Hill
Collected Solomon Hill
Collected Darrun Hilliard
Collected Jaylen Hoard
Collected D'Moi Hodge
Collected Justin Holiday
Collected John Holland
Collected Rondae Hollis-Jefferson
Collected Caleb Homesley
Collected Talen Horton-Tucker
Collected Caleb Houstan
Collected Dwight Howard
Collected Markus Howard
Collected William Howard
Collected Trevor Hudgins
Collected Josh Huestis
Collected Elijah Hughes
Collected Isaac Humphries
Collected De'Andre Hunter
Collected Andre Ingram
Collected Kyrie Irving
Collected Jaden Ivey
Collected Wes Iwundu
Collected GG Jackson
Starting Sleep
Collected Isaiah Jackson
Collected Josh Jackson
Collected Justin Jackson
Collected Andre Jackson Jr.
Collected Trayce Jackson-Davis
Collected Justin James
Collected LeBron James
Collected Jaime Jaquez Jr.
Collected DeJon Jarreau
Collected Al Jefferson
Collected John Jenkins
Collected Jonas Jerebko
Collected BJ Johnson
Collected Cameron Johnson
Collected Jalen Johnson
Collected James Johnson
Collected Keon Johnson
Collected Nikola Jokic
Collected Carlik Jones
Collected Jemerrio Jones
Collected Kai Jones
Collected Terrence Jones
Collected Tre Jones
Collected Derrick Jones Jr.
Collected Johnny Juzang
Collected Georgios Kalaitzakis
Collected Frank Kaminsky
Collected Braxton Key
Collected Stanton Kidd
Collected Sean Kilpatrick
Collected Louis King
Collected Corey Kispert
Collected Maxi Kleber
Collected Brandon Knight
Collected John Konchar
Collected Kosta Koufos
Collected Arnoldas Kulboka
Collected Rodions Kurucs
Collected Jake LaRavia
Collected Zach LaVine
Collected Skal Labissiere
Collected Anthony Lamb
Collected Jock Landale
Collected Romeo Langford
Collected Vic Law
Collected Ty Lawson
Collected Jake Layman
Collected Meyers Leonard
Collected Travis Leslie
Collected Justin Lewis
Collected Scottie Lewis
Collected Kira Lewis Jr.
Collected E.J. Liddell
Collected DeAndre Liggins
Collected Nassir Little
Collected Dereck Lively II
Collected Zach Lofton
Collected Kevon Looney
Collected Brook Lopez
Collected Robin Lopez
Collected Kyle Lowry
Collected Gabriel Lundberg
Collected Seth Lundy
Collected Tyler Lydon
Collected Trey Lyles
Collected Daryl Macon
Collected Josh Magette
Collected Ian Mahinmi
Collected Thon Maker
Collected Tre Mann
Collected Nico Mannion
Collected Naji Marshall
Collected KJ Martin
Collected Tyrese Martin
Starting Sleep
Collected Frank Mason III
Collected Tyrese Maxey
Collected James Michael McAdoo
Collected Patrick McCaw
Collected Mac McClung
Collected T.J. McConnell
Collected Erik McCree
Collected Chris McCullough
Collected Jalen McDaniels
Collected Doug McDermott
Collected Sean McDermott
Collected JaVale McGee
Collected Bryce McGowens
Collected JaQuori McLaughlin
Collected Jordan McLaughlin
Collected Ben McLemore
Collected Jordan McRae
Collected Josh McRoberts
Collected Nicolo Melli
Collected Chimezie Metu
Collected Vasilije Micic
Collected Eric Mika
Collected CJ Miles
Collected Brandon Miller
Collected Darius Miller
Collected Jordan Miller
Collected Leonard Miller
Collected Malcolm Miller
Collected Paul Millsap
Collected Justin Minaya
Collected Josh Minott
Collected Nikola Mirotic
Collected Chima Moneke
Collected Malik Monk
Collected Luis Montero
Collected Xavier Moon
Collected Matt Mooney
Collected E'Twaun Moore
Collected Eric Moreland
Collected Emmanuel Mudiay
Collected Shabazz Muhammad
Collected Ade Murkey
Collected Jamal Murray
Collected Larry Nance Jr.
Collected Andrew Nembhard
Collected RJ Nembhard Jr.
Collected Malik Newman
Collected Daishen Nix
Collected Zeke Nnaji
Collected Joakim Noah
Collected Nerlens Noel
Collected Zach Norvell Jr.
Collected Markquis Nowell
Collected David Nwaba
Collected Kyle O'Quinn
Collected Semi Ojeleye
Collected Jahlil Okafor
Collected Onyeka Okongwu
Collected Isaac Okoro
Collected Eugene Omoruyi
Collected Chinanu Onuaku
Collected Cedi Osman
Collected Kelly Oubre Jr.
Collected Trayvon Palmer
Collected Kevin Pangos
Collected Jeremy Pargo
Collected Jabari Parker
Collected Chandler Parsons
Collected Eric Paschall
Collected Anzejs Pasecniks
Collected Patrick Patterson
Collected Adreian Payne
Collected Elfrid Payton
Collected Gary Payton II
Collected Norvel Pelle
Collected Reggie Perry
Collected Alec Peters
Collected Julian Phillips
Starting Sleep
Collected Jamorko Pickett
Collected Theo Pinson
Collected Scotty Pippen Jr.
Collected Mason Plumlee
Collected Brandin Podziemski
Collected Aleksej Pokusevski
Collected Quincy Pondexter
Collected Craig Porter Jr.
Collected Jontay Porter
Collected Bobby Portis
Collected Micah Potter
Collected Joshua Primo
Collected Taurean Prince
Collected Payton Pritchard
Collected Jacob Pullen
Collected Rodney Purvis
Collected Tim Quarterman
Collected Trevelin Queen
Collected Lester Quinones
Collected Ivan Rabb
Collected Chasson Randle
Collected Julius Randle
Collected Cam Reynolds
Collected Nick Richards
Collected Malachi Richardson
Collected Grant Riller
Collected Andre Roberson
Collected Devin Robinson
Collected Jerome Robinson
Collected Mitchell Robinson
Collected Glenn Robinson III
Collected Jeremiah Robinson-Earl
Collected Isaiah Roby
Collected David Roddy
Collected Rajon Rondo
Collected Terrence Ross
Collected Terry Rozier
Collected D'Angelo Russell
Collected Luka Samanic
Collected JaKarr Sampson
Collected Samardo Samuels
Collected Jermaine Samuels Jr.
Collected Adama Sanogo
Collected Dario Saric
Collected Olivier Sarr
Collected Tomas Satoransky
Collected Admiral Schofield
Collected Trevon Scott
Collected Brice Sensabaugh
Collected Ramon Sessions
Collected Collin Sexton
Collected Landry Shamet
Collected Day'Ron Sharpe
Collected Pascal Siakam
Collected Xavier Silas
Collected Zavier Simpson
Collected Marcus Smart
Collected Dru Smith
Collected Jalen Smith
Collected Jason Smith
Collected Josh Smith
Collected Terquavion Smith
Collected Dennis Smith Jr.
Collected Xavier Sneed
Collected Tony Snell
Collected Ray Spalding
Collected DJ Stephens
Collected Julyan Stone
Collected Max Strus
Collected Edmond Sumner
Starting Sleep
Collected Craig Sword
Collected Keifer Sykes
Collected Jae'Sean Tate
Collected Jayson Tatum
Collected Marquis Teague
Collected Milos Teodosic
Collected Jared Terrell
Collected Daniel Theis
Collected Brodric Thomas
Collected Isaiah Thomas
Collected Amen Thompson
Collected Ausar Thompson
Collected Klay Thompson
Collected Tristan Thompson
Collected Sindarius Thornwell
Collected Matisse Thybulle
Collected Killian Tillie
Collected Xavier Tillman
Collected Obi Toppin
Collected Juan Toscano-Anderson
Collected Karl-Anthony Towns
Collected Gary Trent Jr.
Collected Allonzo Trier
Collected Oscar Tshiebwe
Collected Evan Turner
Collected Myles Turner
Collected Tyler Ulis
Collected Stanley Umude
Collected Denzel Valentine
Collected Fred VanVleet
Collected Jarred Vanderbilt
Collected Dean Wade
Collected Dion Waiters
Collected MJ Walker
Collected Lonnie Walker IV
Collected Cason Wallace
Collected Jordan Walsh
Collected Derrick Walton Jr.
Collected Casper Ware
Collected Jameel Warney
Collected Julian Washburn
Collected Duane Washington Jr.
Collected TyTy Washington Jr.
Collected Tremont Waters
Collected Trendon Watford
Collected Paul Watson
Collected Briante Weber
Collected Thomas Welsh
Collected Victor Wembanyama
Collected Blake Wesley
Collected Russell Westbrook
Collected Coby White
Collected Isaiah Whitehead
Collected Greg Whittington
Collected Aaron Wiggins
Collected Andrew Wiggins
Collected Lindell Wigginton
Collected C.J. Wilcox
Collected Alan Williams
Collected C.J. Williams
Collected Grant Williams
Collected Kenrich Williams
Collected Lou Williams
Collected Mark Williams
Collected Troy Williams
Collected D.J. Wilson
Collected Jalen Wilson
Collected Jamil Wilson
Collected Justise Winslow
Collected Cassius Winston
Collected James Wiseman
Collected Jeff Withey
Collected Isaiah Wong
Starting Sleep
Collected Moses Wright
Collected McKinley Wright IV
Collected Justin Wright-Foreman
Collected Guerschon Yabusele
Collected Tyler Zeller
Collected Zhou Qi
Collected Paul Zipser
Collected Ante Zizic
Collected Ivica Zubac

In [767]:
active_player_birthdays = pd.DataFrame(active_player_birthdays, columns = ["Name", "Team", "Birthday", "FROM_YEAR", "TO_YEAR"])
active_player_birthdays = active_player_birthdays.merge(filtered_player_birthdays[["Name", "id"]], on = ["Name"])
active_player_birthdays = active_player_birthdays[active_player_birthdays["Team"] != ""]

active_player_birthdays

                   Name Team    Birthday  FROM_YEAR  TO_YEAR       id
0             Deng Adel  CLE  1997-02-01       2018     2018  1629061
1          Santi Aldama  MEM  2001-01-10       2021     2023  1630583
2          Cole Aldrich  NYK  1988-10-31       2010     2017   202332
3          Rawle Alkins  CHI  1997-10-29       2018     2018  1628959
5         Jose Alvarado  NOP  1998-04-12       2021     2023  1630631
..                  ...  ...         ...        ...      ...      ...
517  Guerschon Yabusele  BOS  1995-12-17       2016     2018  1627824
518        Tyler Zeller  BOS  1990-01-17       2012     2019   203092
520         Paul Zipser  CHI  1994-02-18       2016     2017  1627835
521          Ante Zizic  CLE  1997-01-04       2017     2019  1627790
522         Ivica Zubac  LAC  1997-03-18       2016     2023  1627826

[395 rows x 6 columns]

In [729]:
merged_data

      TEAM_NAME  GAME_DATE      MATCHUP  ...  SPREAD  WL  PLUS_MINUS
0           BOS 2017-10-17    BOS @ CLE  ...    -4.5   L        -3.0
1           CLE 2017-10-17  CLE vs. BOS  ...     4.5   W         3.0
2           HOU 2017-10-17    HOU @ GSW  ...    -9.5   W         1.0
3           GSW 2017-10-17  GSW vs. HOU  ...     9.5   L        -1.0
4           CHA 2017-10-18    CHA @ DET  ...    -2.5   L       -12.0
...         ...        ...          ...  ...     ...  ..         ...
16667       HOU 2024-02-25  HOU vs. OKC  ...    -6.5   L       -13.0
16668       CHI 2024-02-25    CHI @ NOP  ...    -5.0   W         8.0
16669       NOP 2024-02-25  NOP vs. CHI  ...     5.0   L        -8.0
16670       SAS 2024-02-25    SAS @ UTA  ...    -6.5   L       -19.0
16671       UTA 2024-02-25  UTA vs. SAS  ...     6.5   W        19.0

[16672 rows x 9 columns]

In [812]:
def mark_birthday_games(games_df, players_df, day_range):
    # Empty list to store flags for birthday games
    birthday_game_flags = []
    
    for index, player_row in players_df.iterrows():
        player_team = player_row["Team"]
        player_birthday = datetime.strptime(player_row["Birthday"], "%Y-%m-%d")
        
        birthday_range_start = player_birthday - timedelta(days=day_range)
        birthday_range_end = player_birthday + timedelta(days=day_range)
        
        games_to_check = games_df[games_df["TEAM_NAME"] == player_team]
        birthday_games = games_to_check[(games_to_check["GAME_DATE"].dt.month == birthday_range_start.month) & 
                                        (games_to_check['GAME_DATE'].dt.day >= birthday_range_start.day) &
                                        (games_to_check['GAME_DATE'].dt.day <= birthday_range_end.day)]
        
    return birthday_games

In [780]:
def mark_birthday_games(games_df, players_df):
    # Initialize an empty list to store flags for birthday games
    birthday_game_flags = []

    # Iterate through each player
    for index, player_row in players_df.iterrows():
        player_id = player_row['id']
        player_birthday = player_row['Birthday']  # Assuming 'birthday' column contains player birthdays

        # # Filter games within 7 days of player's birthday
        # print((datetime.strptime(player_birthday, "%Y-%m-%d") - pd.Timedelta(days=7)).strftime('%m-%d'))
        # birthday_range_start = (datetime.strptime(player_birthday, "%Y-%m-%d") - pd.Timedelta(days=7)).strftime('%m-%d')
        # birthday_range_end = (datetime.strptime(player_birthday, "%Y-%m-%d") + pd.Timedelta(days=7)).strftime('%m-%d')
        # birthday_games = games_df[(games_df['GAME_DATE'] >= birthday_range_start) & (games_df['GAME_DATE'] <= birthday_range_end)]
        # print(birthday_games)
        
        # Extract day and month from player's birthday
        try:
            player_birthday_month_day = datetime.strptime(player_birthday, "%Y-%m-%d").replace(year=1900)  # Ignoring year
        except ValueError:
            print(player_birthday)

        # Calculate birthday range
        birthday_range_start = player_birthday_month_day - pd.Timedelta(days=7)
        birthday_range_end = player_birthday_month_day + pd.Timedelta(days=7)

        # Filter games within the birthday range
        birthday_games = games_df[(games_df['GAME_DATE'].dt.month == birthday_range_start.month) &
                                  (games_df['GAME_DATE'].dt.day >= birthday_range_start.day) &
                                  (games_df['GAME_DATE'].dt.day <= birthday_range_end.day)]

        # Mark birthday games for the player
        for _, game_row in birthday_games.iterrows():
            birthday_game_flags.append((game_row['MATCHUP'], 1))  # Mark as 1 for birthday game

    # Create DataFrame from the list of flags
    birthday_game_flags_df = pd.DataFrame(birthday_game_flags, columns=['MATCHUP', 'BIRTHDAY_GAME_FLAG'])
    return birthday_game_flags_df

In [507]:
datetime(2019, 1, 10).strftime("%m-%d") - pd.Timedelta(days=7)

Timedelta('-8 days +23:59:59.999999890')

In [813]:
mark_birthday_games(merged_data, active_player_birthdays, 3)

      TEAM_NAME  GAME_DATE      MATCHUP  ...  SPREAD  WL  PLUS_MINUS
2042        LAC 2018-03-15    LAC @ HOU  ...   -11.0   L        -5.0
2060        LAC 2018-03-16    LAC @ OKC  ...    -6.0   L        -8.0
2095        LAC 2018-03-18  LAC vs. POR  ...     1.0   L       -13.0
2116        LAC 2018-03-20    LAC @ MIN  ...    -3.5   L       -14.0
2136        LAC 2018-03-21    LAC @ MIL  ...    -5.5   W         7.0
4689        LAC 2019-03-15  LAC vs. CHI  ...     9.0   W         7.0
4721        LAC 2019-03-17  LAC vs. BKN  ...     6.0   W         3.0
4751        LAC 2019-03-19  LAC vs. IND  ...     5.5   W         6.0
8656        LAC 2021-03-15    LAC @ DAL  ...     1.5   W        10.0
8696        LAC 2021-03-17    LAC @ DAL  ...     2.5   L       -16.0
8739        LAC 2021-03-20  LAC vs. CHA  ...     9.5   W        27.0
11905       LAC 2022-03-16  LAC vs. TOR  ...    -2.0   L        -3.0
11926       LAC 2022-03-18    LAC @ UTA  ...    -5.5   L       -29.0
14519       LAC 2023-03-15  LAC vs. GSW  ...     3.5   W         8.0
14549       LAC 2023-03-18  LAC vs. ORL  ...     6.5   L        -5.0
14574       LAC 2023-03-19    LAC @ POR  ...     4.5   W        15.0
14601       LAC 2023-03-21  LAC vs. OKC  ...     6.5   L        -1.0

[17 rows x 9 columns]

In [302]:
from nba_api.stats.endpoints import leaguegamefinder

gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable="1610612758")
games = gamefinder.get_data_frames()[0]
games["GAME_DATE"] = games["GAME_DATE"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
games[games["GAME_DATE"] >= datetime(2017, 9, 1)]["WL"].val

L    329
W    282
Name: WL, dtype: int64

In [163]:
# Specify team ID and season
team_id = 1610612758  # Atlanta Hawks
season = '2023-24'

# Get team roster
roster = get_team_roster(team_id)
print("Team Roster:")
print(roster[["DISPLAY_FIRST_LAST", "PERSON_ID"]])
    

# Get team stats
team_stats = get_team_stats(team_id, season)
print("\nTeam Stats for Season", season)
team_stats

Team Roster:
    DISPLAY_FIRST_LAST  PERSON_ID
29     Harrison Barnes     203084
135       Chris Duarte    1630537
142    Kessler Edwards    1630556
143         Keon Ellis    1631165
153        Jordan Ford    1630259
156       De'Aaron Fox    1628368
231      Kevin Huerter    1628989
261        Colby Jones    1641732
264        Mason Jones    1630222
291           Alex Len     203458
308         Trey Lyles    1626168
331       JaVale McGee     201580
347    Davion Mitchell    1630558
351         Malik Monk    1628370
363      Keegan Murray    1631099
440   Domantas Sabonis    1627734
463      Jalen Slawson    1641771
510     Sasha Vezenkov    1628426

Team Stats for Season 2023-24

  GROUP_SET     TEAM_ID         TEAM_NAME  ... PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0   Overall  1610612758  Sacramento Kings  ...        1         1                1

[1 rows x 56 columns]