In [48]:
import pandas as pd
from datetime import datetime

In [38]:
data1 = pd.read_csv(r"C:\Users\tony9\Downloads\merged-csv-files1.csv")

In [39]:
data1 = data1.dropna()

In [59]:
data = data1
data

,timestamp,user,coordinate,pixel_color
0,2023-07-20 15:56:56.167 UTC,lkA+sbLlP/gT2xaS+oh4LbkDgc5BXZIYdF60Cp8NZsCp+L...,"27,-420",#FFD635
1,2023-07-20 15:56:56.177 UTC,+yB+7vl39s1hLCQruUUSFMMR9e3MeRJObjrgWGg+h0oUa1...,"-250,-292",#FF4500
2,2023-07-20 15:56:56.179 UTC,HS+eWjZjfXjbdubVABxwD2P9yWMEsoPdJpJYJDo/V4xeAo...,"-368,411",#000000
3,2023-07-20 15:56:56.18 UTC,Jj0shYfa/JX9AZ46mzwviRp8ygXbzduKZXtL0yTDLk/Xra...,"-411,-445",#000000
4,2023-07-20 15:56:56.182 UTC,uld11GcoH/9X7gcixHQfjo8vNxdKDYP6EjnmiD7niZ94jO...,"440,229",#3690EA
...,...,...,...,...
25293779,2023-07-21 18:57:47.922 UTC,MBoMYrZVC9IVpEvHEeFmzMasXY3eEm9lA/C9bfXuE4VZy5...,"0,0",#FFD635
25293780,2023-07-21 18:57:47.922 UTC,l/oGeQkZUXur8TdfldWVZiEv6qPhxiNsda+N4peaX3GzRm...,"-178,146",#FFD635
25293781,2023-07-21 18:57:47.923 UTC,Ga9H2Hb42XvMlTceX2unfGFgOaWzThsQVP/r/vUN2bYzlU...,"-7,366",#FFD635
25293782,2023-07-21 18:57:47.923 UTC,TIWmMwzA4jzNsxmlurcyL//Pdzjy2J/N+MrKV9rXFMvsH8...,"653,485",#B44AC0
25293783,2023-07-21 18:57:47.925 UTC,i6Wbkn7f0bZaJ13W0Ngo0J6CBmVB0cx9stlFtgDLtA90hN...,"-72,212",#FFA800

In [60]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [26]:
data

                timestamp  day  hour  minute  second  microsecond
0 2023-07-20 15:56:56.167   20    15      56      56       167000
1 2023-07-21 18:57:47.925   21    18      57      47       925000

In [5]:
new_data = data.drop(['coordinate', 'pixel_color'], axis=1)

In [8]:
new_data

,timestamp,user
0,2023-07-20 15:56:56.167 UTC,lkA+sbLlP/gT2xaS+oh4LbkDgc5BXZIYdF60Cp8NZsCp+L...
1,2023-07-20 15:56:56.177 UTC,+yB+7vl39s1hLCQruUUSFMMR9e3MeRJObjrgWGg+h0oUa1...
2,2023-07-20 15:56:56.179 UTC,HS+eWjZjfXjbdubVABxwD2P9yWMEsoPdJpJYJDo/V4xeAo...
3,2023-07-20 15:56:56.18 UTC,Jj0shYfa/JX9AZ46mzwviRp8ygXbzduKZXtL0yTDLk/Xra...
4,2023-07-20 15:56:56.182 UTC,uld11GcoH/9X7gcixHQfjo8vNxdKDYP6EjnmiD7niZ94jO...
...,...,...
25293779,2023-07-21 18:57:47.922 UTC,MBoMYrZVC9IVpEvHEeFmzMasXY3eEm9lA/C9bfXuE4VZy5...
25293780,2023-07-21 18:57:47.922 UTC,l/oGeQkZUXur8TdfldWVZiEv6qPhxiNsda+N4peaX3GzRm...
25293781,2023-07-21 18:57:47.923 UTC,Ga9H2Hb42XvMlTceX2unfGFgOaWzThsQVP/r/vUN2bYzlU...
25293782,2023-07-21 18:57:47.923 UTC,TIWmMwzA4jzNsxmlurcyL//Pdzjy2J/N+MrKV9rXFMvsH8...
25293783,2023-07-21 18:57:47.925 UTC,i6Wbkn7f0bZaJ13W0Ngo0J6CBmVB0cx9stlFtgDLtA90hN...

In [5]:
user_frequency = data.groupby('user').size().reset_index(name='frequency')

In [6]:
user_frequency

                                                      user  frequency
0        ++++K56vVwFvtMk4rJYyUfMpRYAIqMKxu6u8ebfFkWPnEG...          4
1        +++9mkCyhbuOFF5ZusNO7JGW63zMmkWVwoqOqM6D9/9rxK...          6
2        +++DHgz9FIWS2Ux/9geWfi2uf4+trwOcs2MJlGPw/ZyFkT...          7
3        +++DVJPUzMUiQybH5SaWeO15S5jKuyW1AYw0L7HKM9bx4d...          1
4        +++IG2b8dqn9TcyyJa/ngp9XDr7tjfVX9kraYN4JtQyulv...          4
...                                                    ...        ...
3578133  zzzK4I3Sr6QzhvzOTeVMjGQcMCkCsATEUXxV0uKx1lOA5d...          1
3578134  zzzMzrlVdEX2JBEKmtRQmsAW2nFC7avF79rBqLZYcDmlHp...          1
3578135  zzzTVER9+239eVt3S0LSuZW7Ne+GluvnBZSxGiHUusQUgW...          6
3578136  zzztnsHs8wXafNsiw7ldFCrJT2iFdz8/IpP9dTNp3jx+6x...          1
3578137  zzzx8RjteNN3ctg2wCJKoHujFjipe04ohdyKyLE4rvZWea...         26

[3578138 rows x 2 columns]

In [ ]:
user_frequency.to_csv("C:/Users/tony9/Downloads/filename1.csv", index=False)

In [35]:
data['date'] = data['timestamp'].dt.date

In [10]:
data2 = pd.read_csv("C:\\Users\\tony9\\OneDrive\\Documents\\merged-csv-files2.csv")

In [11]:
user_frequency2 = data2.groupby('user').size().reset_index(name='frequency')

In [12]:
user_frequency2

                                                      user  frequency
0        ++++K56vVwFvtMk4rJYyUfMpRYAIqMKxu6u8ebfFkWPnEG...          5
1        +++2YMNQROwh54UiQEYv6iz5yQdEr8uXrZ2EcTkipRbtJ+...          1
2        +++5DPynrKmnxpZ5nTRQ3tH/bHtaN90XCoL0R8e5a3mLuo...          3
3        +++8f06xnBjeWJ3728FQUjrV5mg3eJRHZra2yYWSySguD7...         23
4        +++9mkCyhbuOFF5ZusNO7JGW63zMmkWVwoqOqM6D9/9rxK...         17
...                                                    ...        ...
4959694  zzzjfV1HB0gkG+okqEPrPMkX27yhc8p2qv65lYVEXrShF+...          3
4959695  zzzrqJ2aW2HA7cFdwVYBHBzvVFaY1j8AF8TMBT7NEORdQm...         11
4959696  zzztnsHs8wXafNsiw7ldFCrJT2iFdz8/IpP9dTNp3jx+6x...          1
4959697  zzzx8RjteNN3ctg2wCJKoHujFjipe04ohdyKyLE4rvZWea...         27
4959698  zzzyKoWFuXZ5fG46Fr5izLfUAw6H7BTx/by2MvDWEryfO2...          1

[4959699 rows x 2 columns]

In [13]:
user_frequency2.to_csv("C:/Users/tony9/Downloads/filename.csv", index=False)

In [15]:
data3 = pd.read_csv("C:\\Users\\tony9\\OneDrive\\Documents\\merged-csv-files3.csv")

In [16]:
user_frequency3 = data3.groupby('user').size().reset_index(name='frequency')

In [17]:
user_frequency3.to_csv("C:/Users/tony9/Downloads/filename3.csv", index=False)

In [ ]:
user_frequency3

In [12]:
median_frequency3 = user_frequency3['frequency'].median()
median_frequency3

3.0

In [18]:
data4 = pd.read_csv("C:\\Users\\tony9\\OneDrive\\Documents\\merged-csv-files4.csv")

In [19]:
user_frequency4 = data4.groupby('user').size().reset_index(name='frequency')

In [21]:
user_frequency4.head()

                                                user  frequency
0  ++++K56vVwFvtMk4rJYyUfMpRYAIqMKxu6u8ebfFkWPnEG...          1
1  +++2ny7CcancFxNL6HI+hcDiqXGepL+zGk9n9wfz8tNjCA...          7
2  +++8f06xnBjeWJ3728FQUjrV5mg3eJRHZra2yYWSySguD7...         15
3  +++9mkCyhbuOFF5ZusNO7JGW63zMmkWVwoqOqM6D9/9rxK...         20
4  +++DHgz9FIWS2Ux/9geWfi2uf4+trwOcs2MJlGPw/ZyFkT...          2

In [20]:
user_frequency4.to_csv("C:/Users/tony9/Downloads/filename4.csv", index=False)

In [16]:
sorted_user_frequency4 = user_frequency4.sort_values(by='frequency', ascending=False)
sorted_user_frequency4

                                                      user  frequency
81398    /YNNvIErSA5atGXTER7fymCxIY/9xvunlE0Kisx+Cbppoi...       2173
2975967  tFRL97+0mluUiLf6lR3qQnp4pa/pXVBJ6VN0eXBdExFt0V...       1900
702611   BVEJORMOMrQENm2zYhrzUqsapgaTzn07k5aalsvBglvhIk...        789
1680579  UJgZrjNi8XJ9UBsHPJTeU9xqeVB59ccxGwfcyx0gANwQWm...        738
258058   2xD/PAtqR9YxGxKeWB2eOQvgf2Ruk788QR+aDvK1UAS19b...        473
...                                                    ...        ...
2101762  cRGxFDiOykkCsFMZq/e1Kz0zErb/MgSU7m/2X/+bRky5WN...          1
2101761  cRGoXrjhoZzRholulfMMdAyLueW5zPlPkGQ1l4gRK5LHPG...          1
628997   A59Vuh4FLv7AeQuSb5obuyjo5a0HOm85ee8rEjH1yGKSpP...          1
2101752  cRGJV0VTwEVS5cQr+PBTl8FqviI+tZVq/2vrCL/eQdk4rA...          1
0        ++++K56vVwFvtMk4rJYyUfMpRYAIqMKxu6u8ebfFkWPnEG...          1

[3325621 rows x 2 columns]

In [ ]:
merged_df = pd.concat([user_frequency, user_frequency2, user_frequency3, user_frequency4])
summed_df = merged_df.groupby('user', as_index=False).sum()

In [ ]:
summed_df.head()

In [ ]:
summed_df.to_csv("summed_data.csv", index=False)

In [22]:
import os

folder_path = "C:\\Users\\tony9\\Downloads\\rplacemergedcondensed"

file_names = ['filename.csv', 'filename1.csv', 'filename3.csv', 'filename4.csv']

df_list = []
for file in file_names:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    df_list.append(df)

merged_df = pd.concat(df_list)

grouped_df = merged_df.groupby('user', as_index=False).sum()

output_file = os.path.join(folder_path, "merged_output.csv")
grouped_df.to_csv(output_file, index=False)

print("Merged file created at:", output_file)

Merged file created at: C:\Users\tony9\Downloads\rplacemergedcondensed\merged_output.csv

In [24]:
merged_condensed = pd.read_csv(r"C:\Users\tony9\Downloads\rplacemergedcondensed\merged_output.csv")

In [29]:
merged_condensed

                                                      user  frequency
0        ++++K56vVwFvtMk4rJYyUfMpRYAIqMKxu6u8ebfFkWPnEG...         11
1        +++2YMNQROwh54UiQEYv6iz5yQdEr8uXrZ2EcTkipRbtJ+...          1
2        +++2ny7CcancFxNL6HI+hcDiqXGepL+zGk9n9wfz8tNjCA...         21
3        +++5DPynrKmnxpZ5nTRQ3tH/bHtaN90XCoL0R8e5a3mLuo...          3
4        +++8f06xnBjeWJ3728FQUjrV5mg3eJRHZra2yYWSySguD7...         39
...                                                    ...        ...
8045184  zzzjfV1HB0gkG+okqEPrPMkX27yhc8p2qv65lYVEXrShF+...          3
8045185  zzzrqJ2aW2HA7cFdwVYBHBzvVFaY1j8AF8TMBT7NEORdQm...         13
8045186  zzztnsHs8wXafNsiw7ldFCrJT2iFdz8/IpP9dTNp3jx+6x...          1
8045187  zzzx8RjteNN3ctg2wCJKoHujFjipe04ohdyKyLE4rvZWea...         35
8045188  zzzyKoWFuXZ5fG46Fr5izLfUAw6H7BTx/by2MvDWEryfO2...          1

[8045189 rows x 2 columns]

In [27]:
grouped_df = merged_condensed.groupby('user')['frequency'].sum().reset_index()

In [28]:
grouped_df

                                                      user  frequency
0        ++++K56vVwFvtMk4rJYyUfMpRYAIqMKxu6u8ebfFkWPnEG...         11
1        +++2YMNQROwh54UiQEYv6iz5yQdEr8uXrZ2EcTkipRbtJ+...          1
2        +++2ny7CcancFxNL6HI+hcDiqXGepL+zGk9n9wfz8tNjCA...         21
3        +++5DPynrKmnxpZ5nTRQ3tH/bHtaN90XCoL0R8e5a3mLuo...          3
4        +++8f06xnBjeWJ3728FQUjrV5mg3eJRHZra2yYWSySguD7...         39
...                                                    ...        ...
8045184  zzzjfV1HB0gkG+okqEPrPMkX27yhc8p2qv65lYVEXrShF+...          3
8045185  zzzrqJ2aW2HA7cFdwVYBHBzvVFaY1j8AF8TMBT7NEORdQm...         13
8045186  zzztnsHs8wXafNsiw7ldFCrJT2iFdz8/IpP9dTNp3jx+6x...          1
8045187  zzzx8RjteNN3ctg2wCJKoHujFjipe04ohdyKyLE4rvZWea...         35
8045188  zzzyKoWFuXZ5fG46Fr5izLfUAw6H7BTx/by2MvDWEryfO2...          1

[8045189 rows x 2 columns]

In [ ]:
grouped_df.to_csv("C:/Users/tony9/Downloads/filename4.csv", index=False)

In [ ]:
import pandas as pd
from datetime import datetime
import os
from plotnine import *

Testing code for loop

data = pd.read_csv(r"C:\Users\tony9\Downloads\2023_place_canvas_history-000000000000.csv")

data = data.drop(['coordinate', 'pixel_color'], axis=1)

def parse_timestamp(timestamp): # Check if the timestamp has microsecond part 
    if '.' in timestamp: 
        return datetime.strptime(timestamp, "%Y-%m-%d %H:%M:%S.%f %Z") 
    else: 
        return datetime.strptime(timestamp, "%Y-%m-%d %H:%M:%S %Z") 
    
data["timestamp"] = pd.to_datetime(data["timestamp"].apply(parse_timestamp))

data["day"] = data["timestamp"].dt.day
data["hour"] = data["timestamp"].dt.hour

data = data.drop(['timestamp'], axis=1)


unique_users_count = data.groupby(['day', 'hour'])['user'].nunique()

unique_users_day_hour = unique_users_count.reset_index()

# Rename the column for clarity
unique_users_day_hour.rename(columns={'user': 'unique_users_count'}, inplace=True)

unique_users_day_hour.to_csv(r"C:\Users\tony9\Downloads\rplace1.csv", index=False)

# Running loop on all data

file_paths = [f"C:\\Users\\tony9\\Downloads\\2023_place_canvas_history-{i:012d}.csv" for i in range(52)]

all_data = []

# Process each file and aggregate data
for file_path in file_paths:
    if os.path.exists(file_path):
        data = pd.read_csv(file_path)
        data = data.drop(['coordinate', 'pixel_color'], axis=1)
        data["timestamp"] = pd.to_datetime(data["timestamp"].apply(parse_timestamp))
        data["day"] = data["timestamp"].dt.day
        data["hour"] = data["timestamp"].dt.hour
        data = data.drop(['timestamp'], axis=1)
        unique_users_count = data.groupby(['day', 'hour'])['user'].nunique().reset_index()
        unique_users_count.rename(columns={'user': 'unique_users_count'}, inplace=True)
        all_data.append(unique_users_count)
    else:
        print(f"File not found: {file_path}")

combined_data = pd.concat(all_data)

final_data = combined_data.groupby(['day', 'hour'])['unique_users_count'].sum().reset_index()

final_data.to_csv(r"C:\Users\tony9\Downloads\aggregated_data.csv", index=False)

data = pd.read_csv(r"C:\Users\tony9\Downloads\aggregated_data.csv")

# Correcting the code to create a bar chart for average daily users using plotnine
plot = (ggplot(data=data, mapping=aes(x='day', y='unique_users_count'))
                                       + geom_bar(stat="identity", fill="skyblue")
                                       + labs(title="Average Daily Users (Bar Chart)", x="Day", y="Average Users Count")
                                       + ylab("Daily Unique Users")
                                       + theme(figure_size=(12, 6))
                                      )

plot


data = pd.read_csv(r"C:\Users\tony9\Downloads\2023_place_canvas_history-000000000000.csv")

data = data.drop(['coordinate', 'user'], axis=1)
data["timestamp"] = pd.to_datetime(data["timestamp"].apply(parse_timestamp))
data["day"] = data["timestamp"].dt.day
data["hour"] = data["timestamp"].dt.hour
data = data.drop(['timestamp'], axis=1)

# Calculate the total pixels placed for each hour and day combo
total_pixels_placed = data.groupby(['day', 'hour']).size().reset_index()
total_pixels_placed.rename(columns={0: 'total_pixels_placed'}, inplace=True)

total_pixels_placed.to_csv(r"C:\Users\tony9\Downloads\rplace69.csv", index=False)

# Running loop on all data
file_paths = [f"C:\\Users\\tony9\\Downloads\\2023_place_canvas_history-{i:012d}.csv" for i in range(52)]
all_data = []

for file_path in file_paths:
    if os.path.exists(file_path):
        data = pd.read_csv(file_path)
        data = data.drop(['coordinate', 'user'], axis=1)
        data["timestamp"] = pd.to_datetime(data["timestamp"].apply(parse_timestamp))
        data["day"] = data["timestamp"].dt.day
        data["hour"] = data["timestamp"].dt.hour
        data = data.drop(['timestamp'], axis=1)
        total_pixels_placed = data.groupby(['day', 'hour']).size().reset_index()
        total_pixels_placed.rename(columns={0: 'total_pixels_placed'}, inplace=True)
        all_data.append(total_pixels_placed)
    else:
        print(f"File not found: {file_path}")

# Combine all data
combined_data = pd.concat(all_data)

final_data = combined_data.groupby(['day', 'hour'])['total_pixels_placed'].sum().reset_index()

final_data.to_csv(r"C:\Users\tony9\Downloads\aggregated_data200.csv", index=False)